# API Keys & Models
OPENROUTER_MODEL=google/gemma-4-26b-a4b-it:free
OPENROUTER_API_KEY=sua_chave_openrouter_aqui

# Configurações de Conexão PostgreSQL / PostGIS
DB_HOST=localhost
DB_PORT=5433
DB_NAME=gisdb
DB_SCHEMA=geoanalytics
DB_USER=postgres
DB_PASSWORD=sua_senha_banco_aqui
